* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: 200px auto 75px;
    width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.header__nav{
    align-self: stretch;
}
.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

img{
    width: 300px;
}