@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body {
  background-image: url(../images/background.jpg);
}
h1, h2, h3 {
  font-family: "Hammersmith One", sans-serif;
}
.container {
  background-color: rgba(189, 204, 218, 0.801);
}

img {
  border-radius: 15px;
}
.projects__project {
  border: 2px solid black;
  border-radius: 15px;
}
ul{
    list-style: none;
}
